node_modules/
dist/
coverage/
.vite/

.env
.env.*
!.env.example

*.log
tmp/
temp/

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.DS_Store
Thumbs.db

storage/imagenes_productos/*
!storage/imagenes_productos/.gitkeep
base_datos/respaldos/
*.dump
backups/
